<!DOCTYPE html>
<html>
<head>
  <% plugin_name = Redmine::Plugin.find(:redmine_print_templates).name rescue 'Print Templates' %>
  <title><%= "#{plugin_name} - Designer" %></title>
  <%= stylesheet_link_tag('print_pdfme', plugin: 'redmine_print_templates') %>
</head>
<body>
  <div id="pdfme-container"><div id="pdfme-loading">Reload page to start PDFme Designer...</div></div>
  <%= javascript_include_tag 'pdfme-designer', plugin: :redmine_print_templates %>
</body>
</html>
