<div class="contextual">
  <%= link_to l(:label_print_templates_new), new_print_template_path, class: 'icon icon-add' %>
</div>

<h2><%= l :label_print_templates_plural %></h2>

<% html_title l :label_print_templates_plural -%>
