/**************************************************************/
/*                  ICONS
/**************************************************************/

#admin-menu a.gtt-pdfme { background-image: url(../images/layout_content.png);}

/**************************************************************/
/*                  DESIGNER
/**************************************************************/

#pdfme-designer {
  /* width: 100%; */
  height: 95%;
  margin-top: 1.5rem;
}

#pdfme-designer button {
  height: initial;
}

#pdfme-designer input[type="checkbox"] {
  vertical-align: initial;
  margin: auto 10px;
}

#pdfme-designer input[type="text"] {
  height: 32px;
}

#pdfme-designer .ant-input-number-input {
  height: 32px;
}

#pdfme-designer .ant-btn-group button {
  height: 32px;
}
