/**************************************************************/
/*                  ICONS
/**************************************************************/

#admin-menu a.print-templates { background-image: url(../images/layout_content.png);}

/**************************************************************/
/*                  DESIGNER
/**************************************************************/

#pdfme-designer {
  height: 90%;
}

#pdfme-designer button {
  height: initial;
}

#pdfme-designer input[type="checkbox"] {
  vertical-align: initial;
  margin: auto 10px;
}

#pdfme-designer input[type="text"] {
  height: 32px;
}

#pdfme-designer .ant-input-number-input {
  height: 32px;
}

#pdfme-designer .ant-btn-group button {
  height: 32px;
}
