<div class="contextual">
  <%= link_to l(:label_gtt_pdfme_new), new_gtt_pdfme_path, class: 'icon icon-add' %>
</div>

<h2><%= l :label_gtt_pdfme_plural %></h2>

<% html_title l :label_gtt_pdfme_plural -%>
